
.filter {
  appearance: none;
  max-width: 595px;
  display: flex;
  align-items: center;
  flex-basis: 100%;
}


.input {
  max-width: 480px;
  display: flex;
  flex-grow: 1;
  margin-right: 14px;
}

.select {
  background-color: #fff;
  min-width: 100px;
  height: 60px;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.343 7.757L4.93 9.172 12 16.242l7.071-7.07-1.414-1.415L12 13.414 6.343 7.757z' fill='%23000'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px top 50%,0 0;
  appearance: none;
}

.img {
  width: 20px;
}

.arrow {
  width: 14px;
  height: 9px;
}

.selector {
  position: relative;
}

.smile {
  width: 20px;
}

.icon {
  position: absolute;
  left: 16px;
  top: 18px;
  font-size: 24px;
  color: #BDBDBD;
  pointer-events: none;
}

@media screen and (max-width: 1231px) {
  .filter {
    display: flex;
    flex-basis: 100%;
    order: 2;
    max-width: none;
    margin-top: 30px;
  }

  .input {
    width: 100%;
    max-width: none;
  }

}