.mainContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  /* flex-wrap: wrap; */
}

.inputName {
  width: 100%;
}

.formBlock {
  max-width: 670px;
  width: 100%;
}


.inputDate {
  max-width: 210px;
  width: 100%;
  margin-left: 16px;
}

.textarea {
  width: 100%;
  height: 478px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #1E2022;
}

.group {
  margin-bottom: 16px;
}

.group:first-child {
  width: 100%;
}

.group:not(:first-child) {
  display: flex;
}

.noteBtn {
  margin-left: auto;
  max-height: 40px;
  margin-top: 20px;
}

@media screen and (max-width: 1432px) {
  .mainContent {
    flex-wrap: wrap;
    justify-content: center;
  }


  .group:first-child {
    margin-right: 16px;
  }

  .formBlock {
    max-width: 100%;
  }

}

@media screen and (max-width: 800px) {
  .noteBtn {
    position: fixed;
    padding: 8px 34px;
    left: calc(50% - 280px/2);
    top: calc(50% - 40px/2 + 258px);
    right: 4%;
    z-index: 11;
  }

  .mainContent {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 690px) {
  .noteBtn {
    position: static;
    width: 100%;
    height: 40px;
  }

  .labelDate {
    order: -1;
    margin-right: 10px;
  }

  .noteBtn .text {
    display: block;
  }

  .inputDate {
    margin-left: 0;
  }
}