*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button,
a {
  cursor: pointer;
}

button {
  border: none;
  background-color: inherit;
}

button,
select,
input,
textarea {
  outline: none;
}

a {
  text-decoration: none;
}

.App {
  max-width: 1360px;
  margin: auto;
  width: 95%;
  overflow: hidden;
  position: relative;
}

body {
  background-color: #fdfcf3;
  font-family: 'Roboto', sans-serif;
  scrollbar-color: rgba(57, 57, 57, 0.3);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

input,
select,
textarea {
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 20px 16px;
  width: 60px;
  transition: 0.5s;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid #ffb349;
}

input,
textarea::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #acacac;
}

input,
textarea:-moz-placeholder {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #acacac;
}

@media screen and (max-width: 1024px) {
  .App {
    max-width: 864px;
    width: 85%;
  }
}

@media screen and (max-width: 320px) {
  .App {
    max-width: 280px;
    /* width: 85%; */
  }
}
